@charset "utf-8";

.post-php {
	.duplicate-section{
		margin-bottom:1em;
		display:block; overflow:hidden;
	}
}

.wp-core-ui .button-block {
	display: block;
	text-align: center;
	margin-bottom:4px;
}