
$radius : 5px;
$border : 1px solid #cfcfcf; 
$color_key : #222;
body {
	font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;background-color: #fcfcfc;
	font-size:16px;
}

.screen-reader-text { display: none; }

/* common */
/*-------------------*/
.caption {
	font-size: 0.7em;
	margin-left:1em;
}
.yen:before {
	content:"¥ ";
}
.inline {
	dt,
	dd { display: inline; }
	dt { margin-right:1em; }
}

/*-------------------*/


.header { padding-top:20px; z-index:1000;position: relative;  }
.header-logo { margin:0 0 10px; }
.header-description { margin:0 0 20px;font-size:14px;  }

@media (min-width: 768px){
.nav { z-index: 1000;
	a:hover { text-decoration: none; }
	li { position: relative;
		ul { 
			display: none;
			position: absolute;top:45px; }
	}
	li:hover > ul { width:300px; display:block; overflow:hidden;margin:0;padding:0;background-color: $color_key; list-style: none;
		li { margin:0;
			a { display:block; overflow:hidden;color:#ccc;padding: 10px 15px;
				&:hover { background-color: #333; }
			}
		}
	}
}
}

#main { z-index: 0;position: relative; }

.breadcrumb .glyphicon { margin-right:7px; }

.section { display:block; overflow:hidden; padding: 25px;margin-bottom:20px; border:$border; border-radius: $radius;background-color: #fff;
	header { margin:0 0 20px;
		h1 { margin:0 0 10px;font-size:28px; }
	}

}

.sub-section {
	.sub-section-title { font-size:16px; background-color: $color_key;color:#fff;padding:10px 15px 8px;margin:0 0 20px;border-radius: $radius; }
	ul { padding: 0; }
	li { margin:8px 20px;font-size:16px; }
}

.footer .container { padding-top:20px; padding-bottom:20px;margin-top:20px; border-top:$border; }

/*-------------------------------------------*/
/* .pager
/*-------------------------------------------*/
.navigation.pagination {
	.page-numbers { padding:10px; border:$border;border-radius: $radius;margin-right:5px; background-color: #fff; }
}

@import "bill";